<div class = "row">
  <div class = "col-md-12">
    <h2>Blog Posts</h2>
        <% @posts.each do |post|%>
          <tr>
            <td><h3><b><%= post.title %></b></h3></td>
            <td><h3><%= post.body %></h3></td>
            <td>
              <%= link_to 'edit', edit_post_path(post.id), :class => "btn btn-secondary" %>
              <%= link_to 'delete', post_path(post.id), :class => "btn btn-danger",
                  data: {confirm: 'Are you sure?'}, method: :delete %>
              <%= link_to 'read more', post_path(post), :class =>"btn btn-warning" %><br>
            </td>
          </tr>
        <%end%>
  </br>
    <%= link_to "new post", new_post_path, :class => "btn btn-info" %>
    <%= link_to "New Category", new_category_path, :class => "btn btn-info" %>
    <%= link_to "Sign out", destroy_user_session_path, :class => "btn btn-primary",
        method: :delete %>
  </div>
</div>
