<h1>New Post</h1>

<%= form_for :post, url: posts_path do |f| %>
<h2>
  <%= f.label :title %></br>
  <%= f.text_field :title %>
</h2>

<p>
  <%= f.label :body %></br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.submit%>
</p>
<% end %>

<%= link_to 'back', root_path %>
